
html{
	color: black;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
}

.background {
	background-image: url(../media/questionOne/coruscant.jpg);
    background-size: cover;
	height: 100%;
    margin: 0;
  	background-repeat: no-repeat;
  	background-repeat: no-repeat;
    background-attachment: fixed;
}

#absoluteMessageContainer {
	display: none;
	position: absolute;
	z-index: 50;
	top: 3.5rem;
	left: 50%;
}

#moveUserGuess {
	position: relative;
	left: -50%;
	height:50px;
}

#messageBox {
	position: relative;
	left: -50%;
}

.incorrectMessage {
	display: block;
	color: white;
	font-size: 2rem;
	cursor: default;
	font-weight: 400;
	height: 65px;
	width: 632px;
	text-align: center;
	border: 1px solid white;
	border-bottom: none;
	background: rgba(201, 30, 30, .8);
	margin: 3rem auto 0 auto;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	padding-bottom: 5px;
}

.correctMessage {
	display: block;
	color: white;
	font-size: 2rem;
	font-weight: 400;
	cursor: default;
	font-family: "Julius Sans One";
	height: 65px;
	width: 632px;
	text-align: center;
	border: 1px solid white;
	border-bottom: none;
	background: rgba(16, 97, 41, .8);
	margin: 3rem auto 0 auto;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	padding-bottom: 5px;
}

.fact {
	display: block;
	line-height: 1.4;
	color: black;
	cursor: default;
	font-size: 1.5rem;
	font-family: 'Julius Sans One';
	font-weight: 400;
	width: 600px;
	text-align: center;
	padding: 1rem;
	border: 1px solid white;
	border-top: none;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	background-image: url(../media/questionOneNewBackground/darthPlagueis.jpg);
	background-size: cover;
	margin: -1px auto 0 auto;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
}

#nextContainer {
	position: relative;
	left: -50%;
}

.nextButton {
	color: white;
	font-family: 'Julius Sans One';
	font-size: 1.6rem;
	font-weight: 400;
	display: flex;
	margin-top: 1.5rem;
	justify-content: center; /* align horizontal */
	align-items: center;
	float: right;
	margin-bottom: 2rem;
	height: 65px;
	width: 150px;
	background-color: rgba(0, 0, 0, .7);
	border: solid white 1px;
	text-align: center;
	border-radius: .5rem;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.nextButton:hover {
	background-color: rgba(255, 255, 255, .8);
	color: black;
	border: solid black 3px;
	cursor: pointer;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.header {
	cursor: default;
	font-family: 'Julius Sans One';
	text-align: center;
	color: white;
	height: 50px;
	margin: 4rem auto 4rem auto;
	font-size: 3rem;
}



.questionContainer {
	width: 96%;
	min-width: 1222px;
	margin: 0 auto 0 auto;
}

.answerBlock {
	display: inline-block;
	width: 240px;
	height: 240px;
}

.border {
	height: 200px;
	width: 200px;
	border-radius: 20%;
	margin: 0 auto 0 auto;
	border:solid 10px rgba(255, 255, 255, 0.4);
}

.borderOnClick {
	height: 200px;
	width: 200px;
	border-radius: 20%;
	opacity:.4;
	margin: 0 auto 0 auto;
	border:solid 10px rgba(0, 0, 0, 0.4);
}

.opacityFeature {
	opacity: .6;
}

.images {
	height: 200px;
	width: 200px;
	margin: 0 auto 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 17%;
}

.text {
	font-family: 'Julius Sans One';
	color: white;
	font-weight: 400;
	font-size: 1.3rem;
	width: 200px;
	height:46px;
	padding-top: 23px;
	text-align: center;
	display: block;
	margin: 0 auto 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: 1px;
	cursor: default;
}

.guessBox {
	margin: 4rem auto 0 auto;
	width: 520px;
	height: 70px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	color: white;
	font-family: 'Julius Sans One';
	font-size: 1.8rem;
}

.userGuess {
	width: 340px;
	height: 52px;
	padding-top: 18px;
	color: white;
	font-family: 'Julius Sans One';
	font-size: 1.8rem;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid white;
	border-top-left-radius: .6rem;
	border-bottom-left-radius: .6rem;
	cursor: default;
	text-align:center;
}

.moveUserGuess {
	margin:0 auto 0 auto;
	border-radius: .6rem;
	width: 400px;
}

.guessButton {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: default;
	border: 1px solid white;
	border-left: none;
	text-align: center;
	height: 53px;
	padding-top: 17px;
	width: 180px;
	border-top-right-radius: .6rem;
	border-bottom-right-radius: .6rem;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

.guessButton:hover {
	background: rgba(0, 0, 0, 1);
	cursor: pointer;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}

#warningMessage {
	display: none;
}

.warningMessage {
	color: white;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: 'Julius Sans onClick';
	height: 40px;
	width: 260px;
	padding-top: 15px;
	text-align: center;
	border: 1px solid white;
	background: rgba(201, 30, 30, .5);
	margin: 1.2rem auto 0 auto;
	border-radius: .5rem;
}

.footerContainer {
	display: none;
	position: fixed;
	width: 1280px;
	height: 70px;
	bottom: 0;
}

.footerOpacity {
	opacity:.4;
}

.userAnswerBox {
	border: solid 1px white;
	display: inline-block;
	background-color: rgba(0, 0, 0, .7);
	width: 245px;
	margin: 5px auto 0 auto;
	height: 60px;
	border-radius: .5rem;
}

.userAnswerText {
	font-family: 'Julius Sans One';
	color: white;
	font-weight: 400;
	width: 230px;
	text-align: center;
	display: block;
	height: 20px;
	margin: 20px auto 0 auto;
	letter-spacing: 1px;
	cursor: default;
}

/* Question 1 images */

.darthNihilusIMG {
	background: url(../media/questionOne/darthNihilus.jpg);
}

.darthPlagueisIMG {
	background-image: url(../media/questionOne/darthPlagueis.jpg);
}

.exarKunIMG {
	background-image: url(../media/questionOne/exarKun.jpg);
}

.valkorionIMG {
	background-image: url(../media/questionOne/valkorion.png);
}

.darthBaneIMG {
	background-image: url(../media/questionOne/darthBane.jpg);
}

/* Question 1 Bottom Images */

.darthPlagueisFooterIMG {
	background-image: url(../media/questionOneBottom/darthPlagueis.jpg);
}

.darthNihilusFooterIMG {
	background-image: url(../media/questionOneBottom/darthNihilus.jpg);
}

.exarKunFooterIMG {
	background-image: url(../media/questionOneBottom/exarKun.jpg);
}

.valkorionFooterIMG {
	background-image: url(../media/questionOneBottom/valkorion.jpg);
}

.darthBaneFooterIMG {
	background-image: url(../media/questionOneBottom/darthBane.jpg);
}


/*Question 2 images */

.bethAllusisIMG {
	background-image: url(../media/questionTwo/bethAllusis.jpg);
}

.odanUrrIMG {
	background-image: url(../media/questionTwo/odanUrr.jpg);
}

.lordHothIMG {
	background-image: url(../media/questionTwo/lordHoth.jpg);
}

.delGormoIMG {
	background-image: url(../media/questionTwo/nKataDelGormo.jpg);
}

.sateleShanIMG {
	background-image: url(../media/questionTwo/sateleShan.jpg);
}